body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.botao-voltar {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
}

.formulario-pesquisa-pessoa {
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: calc(100% - 40px);
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#resultados-pessoa {
    margin-top: 275px;
    padding: 20px;
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

select,
#input-div input,
button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

select,
#input-div input {
    width: 200px;
}

button {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead th {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: 1px solid #ddd;
}

tbody td {
    padding: 10px;
    border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

a.excluir-link {
    color: #007BFF;
    text-decoration: none;
    cursor: pointer;
}

a.excluir-link:hover {
    color: #0056b3;
}

.titulo-painel {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: #007BFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
}